.clockdate-wrapper {
    background-color: #706993;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
  
}
#clock{
    background-color:#5e6472;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #dbd3d8;
    color:#dbd3d8;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #dac3e8;
    font-size:50px;
    position:relative;
    top:-5px;
    left:10px;
}
#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#dbd3d8;
}